<.header>
  Listing Agent
</.header>

<.table
  id="agent"
  rows={@streams.agent_collection}
  row_click={fn {_id, agent} -> JS.navigate(show_url(agent)) end}
>
  <:col :let={{_id, agent}} label="Agent Type">
    <%= agent_type(agent) %>
  </:col>
  <:col :let={{_id, agent}} label="Host Name">
    <%= find_description_field(agent.description, "host.name") %>
  </:col>
  <:col :let={{_id, agent}} label="Instance"><%= agent.id %></:col>
  <:col :let={{_id, agent}} label="Last Hearbeat">
    <%= if Map.has_key?(agent, :component_health) && agent.component_health != nil do %>
      <%= render_time(agent.component_health.status_time_unix_nano) %>
    <% end %>
  </:col>
  <:col :let={{_id, agent}} label="Number of Collectors">
    <%= map_size(agent.effective_config.config_map.config_map) %>
  </:col>
  <:action :let={{_id, agent}}>
    <div class="sr-only">
      <.link navigate={show_url(agent)}>Show</.link>
    </div>
    <.link patch={~p"/agent/#{agent}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, agent}}>
    <.link
      phx-click={JS.push("delete", value: %{id: agent.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="agent-modal" show on_cancel={JS.patch(~p"/agent")}>
  <.live_component
    module={OpAMPServerWeb.AgentLive.FormComponent}
    id={@agent.id || :new}
    title={@page_title}
    action={@live_action}
    agent={@agent}
    patch={~p"/agent"}
  />
</.modal>
