<.header>
  Agent <%= @agent.id %>
  <:subtitle>This is a agent record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/agent/#{@agent}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit agent</.button>
    </.link>
  </:actions>
</.header>

<h1 title="Instance ID"><%= @agent.id %></h1>

<.table
  id="instance"
  rows={@map_keys}
  row_click={fn collector -> JS.push("select", value: %{collector: collector}) end}
>
  <:col :let={collector} label="Name"><%= collector %></:col>
</.table>

<div id="editor"></div>
<%= if Map.has_key?(@agent.effective_config.config_map.config_map, @collector) do %>
  <.form :let={f} for={@changeset} phx-change="validate" phx-submit="save">
    <%= label f, "Effective Configuration" do %>
      <%= textarea f, :effective_config, phx_hook: "EditorForm", value: @agent.effective_config.config_map.config_map[@collector].body, style: "display: none;" %>
    <% end %>
    <%= submit "Submit" %>
  </.form>
<% end %>

<.back navigate={~p"/agent"}>Back to agent</.back>

<.modal :if={@live_action == :edit} id="agent-modal" show on_cancel={JS.patch(~p"/agent/#{@agent}")}>
  <.live_component
    module={OpAMPServerWeb.AgentLive.FormComponent}
    id={@agent.id}
    title={@page_title}
    action={@live_action}
    agent={@agent}
    patch={~p"/agent/#{@agent}"}
  />
</.modal>
